
server:
  port: 8766

spring:
  application:
    name: service-zuul

eureka:
  clien:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
zuul:
  routes:
    api-a:
      path: /api-a/**
      serviceId: service-robbin
    api-b:
      path: /api-b/**
      serviceId: service-feign
