
server:
  port: 8881

spring:
  application:
    name: config-client
  cloud:
    config:
      label: main
      profile: dev
    bus:
      enabled: true
      trace:
        enabled: true
  rabbitmq:
    addresses:
    port:
    username:
    password:
    virtual-host:

eureka:
  client:
    service-url:
      default-zoneUrl: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: bus-refresh