
server:
  port: 8881

spring:
  application:
    name: config-client
  cloud:
    config:
      label: main
      profile: dev
    bus:
      enabled: true
      trace:
        enabled: true
  rabbitmq:
    addresses: mqpubtest1.sns.sohuno.com:5672,mqpubtest2.sns.sohuno.com:5672
    port: 5672
    username: sns
    password: snstest
    virtual-host: /sns_test

eureka:
  client:
    service-url:
      default-zoneUrl: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: bus-refresh